
.img{
    border: 5px solid rgb(8, 8, 8);
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    height: calc(160vh - 550px);
}



.display-4{
    color: $colorhover;
}

.discografia{
    color: $colorhover;
    font-size: 15px;
    font-weight: bolder;
}

@media (max-width:760px){
    .img{
        max-width: 450px;
        max-height: 200px;
    }
}

@media (max-width:390px){
    .img{
        max-width: 300px;
        max-height: 150px;
    }
}