body{
    background-color: $colorfondo2;
}

main{
    h1{
        color: $colorhover;
        text-align: center;
        font-size: 50px;
    }

    .introduccion{
        color: $colorhover;
        text-align: center;
        font-size:20px;
    }
}

