.page-footer{
    background-color: $colorfooter;
    .my-2{
        background-color: white;
    }
    h6{
        color: white;
    }

    .contenedor{
        background-color: $colorfondo;
    }
}